<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.1">
<dict>
	<key>CLIENT_ID</key>
	<string>137574417565-7m62d96k6v2mshcs10cjki57iq52jdsk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.137574417565-7m62d96k6v2mshcs10cjki57iq52jdsk</string>
	<key>API_KEY</key>
	<string>AIzaSyDqmxeqYYiaYJrfccTwr-_4wMcqMbyOhtw</string>
	<key>GCM_SENDER_ID</key>
	<string>137574417565</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>info.jacobko.-8-firebase-login-app</string>
	<key>PROJECT_ID</key>
	<string>login-practice-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>login-practice-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:137574417565:ios:df3c7eddd95075f8134074</string>
</dict>
</plist>